@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Updated to use Inter font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Inter', sans-serif; /* Updated to use Inter font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-aptos {
  font-family: 'Aptos', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2A2F34;
}

::-webkit-scrollbar-thumb {
  background: #6c757d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
